@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}
img{
    width: 100%;
}
.title{
    font-size: 29px;
    line-height: 32px;
    font-weight: 600;
    text-align: center;
    padding-top: 40px;
}
.services{
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 40px;
}

.service{
    background-color: #fff;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.service:hover{
    transform: translateY(-10px);
}

.service h2{
    font-size: 18px;
    line-height: 20px;
    padding: 8px 0;
    font-weight: 600;
}
.service p{
    font-size: 14px;
    line-height: 20px;
    padding: 8px 0;
    font-weight: 400;
}


/* laptop screens  */
@media(max-width:1200px){
    .services{
        grid-template-columns: repeat(3,1fr);
    }
}

/* tablet screens  */
@media(max-width:768px){
    .services{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

/* phone screens  */
@media(max-width:480px){
    .services{
        grid-template-columns: 1fr;
    }
}