.media-player{
    display: flex;
    width: 600px;
}

.control-button{
    flex: 1;
    padding: 20px 20px;
    border: 1px solid #0000ff;
    text-align: center;
    background-color: #0000ff;
    color: #fff;
    font-size: 18px;
    font-weight: 600;

}

.ply{
    flex: 2;
    background-color: #ff0000;
    border: 1px solid #ff0000;
}