*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    font-family: sans-serif;
    background-color: #f4f4f4;
}

img {
    max-width: 100%;
    border-radius: 8px;
}

.blogs {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.blog {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    min-width: 200px;
    width: calc(25% - 10px); 
    border-radius: 8px;
    transition: transform 0.3s;
}

.blog:hover {
    transform: translateY(10px);
}

.blog .title{
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    padding: 10px;
}

.blog p{
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
}
@media (max-width: 1200px) {
    .blog {
        width: calc(33.333% - 20px); 
    }
}

@media (max-width: 768px) {
    .blog {
        width: calc(50% - 20px); 
    }
}

@media (max-width: 480px) {
    .blog {
        width: 100%;
    }
}
